body {
    background-image: url("../../img/Backgraund2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    align-items: center; /* Adicionado para centralizar elementos */
}

.infor_perfil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.img_perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

.img_perfil img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.infor_site,
.infor_user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}

h1 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center; /* Adicionado para centralizar o texto */
}

h2 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
}

.basse_atalho {
    height: auto;
    width: 100%;
    margin-left: -10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    background-color: rgba(54, 30, 117, 0.397);
    position: fixed;
    bottom: 0;
    align-items: center;
}

.basse_atalho a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
    background-color: rgb(11, 60, 116);
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}

.basse_atalho a:hover {
    color: #000;
    background-color: rebeccapurple;
    border-radius: 15px;
}
